{% extends 'base.html' %}
    <!-- <h1>Welcome to my blog!</h1> -->
    {% block content %}
    {% for blog in blogs %}
    <section>
        <h2>{{ blog.blogTitle }}</h2>
        <h5>{{ blog.publishDate }}</h5>
        <p>{{ blog.blogBody }}</p>
        <div id="post-buttons">
            <br>
            <a href="{% url 'blog:view-entry' blog.id%}"><button class="btn btn-secondary">View</button></a>
            {% if user.is_authenticated %}
            <a href="{% url 'blog:update-entry' blog.id%}"><button class="btn btn-secondary">Edit</button></a>
            <a href="{% url 'blog:delete-entry' blog.id%}"><button class="btn btn-danger">Delete</button></a>
            {% endif %}
        </div>
    </section>
    {% empty %}
    {% endfor %}
{% endblock %}
<footer>

</footer>
</body>
</html>